.custom-dark-background {
    background-color: gray;
}

.darker-font {
    color: wheats
}

.form-section {
    background-image: url(../img/form-background.jpg);
    background-size: cover;
    background-position: center;
    color: wheat;
}
.navbar {

    background-color: gray;
}
.navbar-light  .navbar-brand,
.navbar-light  .navbar-nav .nav-link,
.navbar-light  .navbar-brand:hover,
.navbar-light  .navbar-nav .nav-link:hover{
    color: whitesmoke
}
